<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="example.jni.com.coffeeseller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/coffee_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/coffee_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".views.activities.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|mnc|mcc|touchscreen|smallestScreenSize|screenLayout"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".communicate.TaskService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="example.jni.com.coffeeseller.communicate.taskservice" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.StartServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />//监听wifi的打开和关闭
                <action android:name="android.net.wifi.STATE_CHANGE" />//监听wifi的连接状态
            </intent-filter>
        </receiver>
    </application>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />
</manifest>